<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blocks</title>
        <link rel="stylesheet" th:href="@{/blocks-styles.css}">
    </head>
    <body>
        <header>
            <h1>Blocks</h1>
        </header>
        <main>
                
            <table>
                <caption class="text-left-align">List of blocks and their properties</caption>
                <thead>
                    <tr>
                        <th>Block ID</th>
                        <th>Student Count</th>
                        <th>Combinations</th>
                        <th>Non-conflicting Combinations</th>
                        <th>Courses</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tfoot></tfoot>
                <tr th:each="block : ${blocks}">
                    <td th:text="${block.key}"></td>
                    <td th:text="${block.value.studentCount}"></td>
                    <td th:text="${block.value.combinations}"></td>
                    <td th:text="${block.value.nonConflictingCombinations}"></td>
                    <td class="text-left-align" th:text="${block.value.courses}"></td>
                    <td>
                        <a class="view-button" th:href="@{/viewblock/{blockKey}(blockKey=${block.key})}">View</a>
                    </td>
                </tr>
            </table>
        </main>

    </body>
</html>