<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${blockId}">placeholder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/blockview-styles.css}">
    </head>
    <body>
        <header>
            <h1 th:text="${blockId}">placeholder</h1>
            <h2 th:text=" ' Non-Conflicting Combinations: ' + ${block.nonConflictingCombinations}">placeholder</h2>        
        </header>
        <main>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="4">8am</td>
                <th:block th:each="course : ${block.courses}">
                    <td rowspan="6" th:text="${course}" >Course</td>
                </th:block>
                <th:block th:switch="${block.courses.size()}">
                    <th:block th:case="3">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </th:block>
                    <th:block th:case="4">
                        <td></td>
                        <td></td>
                        <td></td>
                    </th:block> 
                    <th:block th:case="5">
                        <td></td>
                        <td></td>
                    </th:block>
                    <th:block th:case="6">
                        <td></td>
                    </th:block>
                </th:block>
                </tr>
                <th:block th:switch="${block.courses.size()}">
                    <th:block th:case="3">
                        <th:block th:each="index : ${#numbers.sequence(0,4)}">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </th:block>

                    </th:block>
                    <th:block th:case="4">
                        <th:block th:each="index : ${#numbers.sequence(0,4)}">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </th:block>
                    </th:block> 
                    <th:block th:case="5">
                        <th:block th:each="index : ${#numbers.sequence(0,4)}">
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </th:block>
                    </th:block>
                    <th:block th:case="6">
                        <th:block th:each="index : ${#numbers.sequence(0,4)}">
                            <tr>
                                <td></td>
                            </tr>
                        </th:block>                    
                    </th:block>
                </th:block>

                <th:block th:each="index : ${#numbers.sequence(9,11)}">
                    <tr>
                        <td rowspan="4" th:text="${index + 'am'}">am</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </th:block>
                <th:block th:each="index : ${#numbers.sequence(1,9)}">
                    <tr>
                        <td rowspan="4" th:text="${index + 'pm'}">am</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </main>
    </body>
</html>
